.card__button-remove, .card__button-add, .card__button-disabled {
  border: none;
  border-radius: 30px;
  font-size: 20px;
  justify-self: center;
  align-self: center;
  padding: 13px 12px;
  cursor: pointer; 
}

.card__button-add {
  background: #aef3d2d6;
  color: #645d84;
  box-shadow: 0px 6px 13px 1px #87c1aa;
  transition: ease-in-out 500ms;
}
.card__button-add:hover {
  background: #99ddbcd6;
  color: #232227;
  box-shadow: 0px 6px 14px 6px #87c1aa;
}


.card__button-remove {
  background-color: #de5656;
  color: #bce7d6;
  box-shadow: 0px 6px 13px 1px #d64c4c;
  transition: ease-in-out 500ms;
}
.card__button-remove:hover {
  background: #ce1717;
  color: white;
  box-shadow: 0px 6px 23px 6px #d64c4c;
}
.card__button-disabled {
  background: #bebeed;
  color: black;
}

.card__button-disabled:hover {
  cursor: default;
}
